html {
	display: flex;
	flex-wrap: nowrap;
    background-image: url("../IMAGES/Main Page/srrl_old_footage.gif");
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

body {
	height: 100%;
	width: 100%;
}