html {
	display: flex;
	flex-wrap: nowrap;
    background-image: url("../IMAGES/Main Page/srrl_old_footage.gif");
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

body {
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar {
    display: flex;
    width: auto;
    background-color: #ffcc33;
    position: absolute;
    align-content: center;
    box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.5);
}
.navbutton {
    width: 80px;
    background-color: #ffcc33;
    color: #990000;
    padding: 16px;
    font-size: 16px;
    border: none;
    display: block;
    text-align: center;
}

.about-content {
    display: none;
    position: absolute;
    align-content: center;
    left: 75%;
    top: 100%;
    box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.5);
}
.about-content a {
    color: #990000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all 1s ease;
}
.about-content a:hover {
    width: 125%;
    background-color: #ffbb33;
    color: #000000;
}

#about:hover + .about-content {
    display: block;
    position: absolute;
    align-content: center;
}
#about:focus + .about-content {
    display: block;
    position: absolute;
    align-content: center;
}

.shop-content {
    display: none;
    position: absolute;
    align-content: center;
    left: 50%;
    top: 100%;
    box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
}
.shop-content a {
    color: #990000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all 1s ease;
}
.shop-content a:hover {
    width: 125%;
    background-color: #ffbb33;
    color: #000000;
}
#shop:hover + .shop-content {
    display: block;
    position: absolute;
    align-content: center;
}
#shop:focus + .shop-content {
    display: block;
    position: absolute;
    align-content: center;
}
