nav {
	display: flex;
	height: 10%;
	width: 25%;
	text-align: center;
}

nav a {
	align-content: center;
	background-color: #ffcc33;
	display: block;
	text-decoration: none;
	width: 25%;
}

#about-button {
	display: block;
	height: 100%;
	width: 100%;
}

.about {
	align-content: center;
	background-color: #ffcc33;
	width: 25%;
}

.about-content {
	display: none;
	width: 100%;
}

.about-content a {
	align-content: center;
	background-color: #ffcc33;
	height: 100%;
	width: 100%;
}

.about:hover .about-content {
	display: block;
}